body {
    margin: 0px;
    padding: 0px;
    background-image: url("signup.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

.left {
    display: inline-block;
    /* border:2px solid red; */
    position: absolute;
    left: 2px;
    top: -4px;
}

.left img {
    width: 125px;
    filter: invert(100%);
}

.mid {
    display: block;
    width: 45%;
    margin: 12px auto;
    /* border: 2px solid green; */
}

.right {
    position: absolute;
    right: 34px;
    top: 25px;
    display: inline-block;
    /* border: 2px solid yellow; */
}

.navbar {
    display: inline-block;
}

.navbar li {
    display: inline-block;
    font-size: 20px;
}

.navbar li a {
    color: black;
    font-weight: bolder;
    text-decoration: dotted;
    padding: 34px 23px;
}

.navbar li a:hover,
.navbar li a.active {
    text-decoration: underline;
    color: rgb(255, 255, 255);
}

.btn {
    margin: 0px 9px;
    color: black;
    font-weight: bold;
    padding: 4px 14px;
    border: 2px;
    border-radius: 15px;
    font-size: 18px;
    background-color: rgb(241, 232, 232);
    font-family: 'Times New Roman', Times, serif;
}

.btn {
    background-color: rgba(235, 171, 171, 0.242);
    cursor: pointer;
}

.container {
    border: 2px solid rgb(206, 206, 206, 1);
    margin: 115px 896px;
    padding: 2px 2px;
    width: 33%;
    /* border-radius: 10px; */
}

.form-group input {
    text-align: center;
    display: block;
    width: 404px;
    padding: 2px;
    margin: 30px auto;
    /* border: 2px solid rgb(217, 244, 217); */
    font-size: 20px;
    border-radius: 1px;
    font-family: 'Times New Roman', Times, serif;

}

.container h1 {
    text-align: center;
    color: rgb(87, 18, 18);
    text-decoration: none;
}

.btn {
    text-align: center;
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
}